doctype html
html
	head
		meta(name='charset',content='utf-8')
		meta(name='viewport',content='width=device-width')
		title jade studys
	body

		div#wrap
			p
				//文本部分的竖线不能省略
				| 这里是文字
				| 这里是文字
				| 这里是文字
				span 大标签里的小标签
				strong 大标签里的小标签
			


