doctype html
html
	head
		meta(name='charset',content='utf-8')
		meta(name='viewport',content='width=device-width')
		title jade studys
	body

		div#wrap
			input(type="checkbox" value="hello world" checked)
				
			


