doctype html
html
	head
		meta(name='charset',content='utf-8')
		meta(name='viewport',content='width=device-width')
		title jade studys
	body
		.wrap
			h1.title.title1#titlename hello world
			a(href='http://www.baidu.com')
			p.cate this is par
			input(type='checkbox',checked)
			
		footer
			p 
				| thisis footer 
				| thisis footer 
				| thisis footer 
				span.spantext text
				strong strongtext
				em $99


