doctype html
html
	head
		meta(name='charset',content='utf-8')
		meta(name='viewport',content='width=device-width')
		title jade studys
	body

		div#wrap
			.container
				h1 单行注释
				//p this is p
				h1 单行注释 删除元素
				//- p this is p
				h1 多行注释 删除元素
				//-
					.con this is div
						p this is p
			


